<h1>Exchange Rate Analyzer</h1>

<label for="baseCurrency">Base Currency </label>
<select id="baseCurrency" ([ngModel])="selectedBaseCurrency">
    <option *ngFor="let c of currencies" [value]="c" [selected]="c === selectedBaseCurrency">
        {{c}}
    </option>
</select>
<br/>
<label for="targetCurrency">Target Currency </label>
<select id="targetCurrency" ([ngModel])="selectedTargetCurrency">
    <option *ngFor="let c of currencies" [value]="c" [selected]="c === selectedTargetCurrency">
        {{c}}
    </option>
</select>
<br/>
<label for="startDate">Time Range from </label><input id="startDate" type="text" ng-model="startDate"> to <input type="text" ng-model="endDate">
<br/>
<button (click)="this.onClick()">Find highest rate</button>

<p *ngIf="isCalculated">
    <b>{{highestRateDate}}</b>: 1.00 {{selectedBaseCurrency}} = {{highestRate}} {{selectedTargetCurrency}}
</p>